<!DOCTYPE html>
<html lang="en">

<head>
    {% include("layout/head.html") %}
    <style>
        #comu-link {
            color: black;
            text-decoration: none;
        }
        #comu-link:hover{
            color: black;
            text-decoration: none;            
        }
        #comu-link:focus {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body class="seo_version">

    <!-- LOADER -->
    <!-- END LOADER -->
    {% include("layout/nav.html") %}

    <div style="background-image:url(/static/images/pattern-4.png);">
        <!--Page -->
        <div id="support" class="section wb">

            <div class="container">
                {% include ("layout/info.html") %}
                <div class="section-title text-center">
                    <h3>Mes projets</h3>
                    <div class="row">
                        <div class="col-md-8">
                            {# liste #}
                            <table class="table" data-toggle="table" data-search="true" data-pagination="true"
                                data-page-size="8" data-page-list="[10, 25, 50, all]">
                                <thead>
                                    <tr>
                                        <th data-field="close" data-align="center">Fermer</th>
                                        <th data-field="picture" data-sortable="true">Image</th>
                                        <th data-field="name" data-sortable="true">Nom</th>
                                        <th data-field="description" data-sortable="true">Description</th>
                                        <th data-field="target" data-sortable="true">Objectif</th>
                                        <th data-field="endDate" data-sortable="true">Date limite</th>
                                        <th data-field="isOpen" data-sortable="true">Statut</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if liste and liste is not none %}
                                    {% for project in liste %}
                                    {% if project.idUser == session['idUser'] %}
                                    <tr>
                                        <td>
                                            <a href="/closeProject/{{project.idProject}}">
                                                <img src='static/images/prettyPhoto/cross.png' height="30px"
                                                    width="30px">
                                            </a>
                                        </td>
                                        <td><img src="static/images/projectsPictures/{{project.picture}}"
                                                class="picture" height="30px" width="30px" /></td>
                                        <td>
                                            <a href="/seeProject/{{project.idProject}}">{{ project.name
                                                    }}</a>
                                        </td>
                                        <td>{{ project.description }}</td>
                                        <td>{{ project.target }}</td>
                                        <td>{{ project.endDate }}</td>
                                        <td class='modifSelect' data-url='/closeProject/S'
                                            data-pk='{{project.idProject}}'>
                                            {% if project.isOpen == 0 %}
                                            Fermé
                                            {% else %}
                                            Ouvert
                                            {% endif %}
                                        </td>
                                    </tr>
                                            <!-- remplacer par une image !  -->
                                            <a id="comu-link" href="/seeProject/{{project.idProject}}">Voir le projet</a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>

                        </div>
                        <div class="col-md-4">
                            <div style="z-index: 1000;" class="contact_form">
                                <div id="message"></div>
                                <form method="post" action="/addProject" enctype="multipart/form-data">
                                    <h4 class="card-title text-center mb-2 fw-light">Nouveau projet</h4>

                                    <div class="form-floating mb-3">
                                        <label for="nom">Nom</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Nom"
                                            required autofocus>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <label for="prenom">Description</label>
                                        <input type="text" class="form-control" id="description" name="description"
                                            placeholder="Description" required>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <label for="mail">Objectif en Astrocoins</label>
                                        <input type="number" class="form-control" id="target" name="target"
                                            placeholder="Objectif" required>
                                    </div>

                                    <hr>

                                    <div class="form-floating mb-3">
                                        <label for="login">Date limite</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate"
                                            placeholder="Date limite" required>
                                    </div>
                                    <label for="avatar">Photo du projet</label>
                                    <input accept="image/png, image/jpeg" type="file" name="picture" id="picture"
                                        class="custom-file-input">

                                    <div class="form-floating mb-3">
                                        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                                            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                                            crossorigin="anonymous"></script>
                                        <script>
                                            $(document).ready(function (e) {
                                                $('input[type="file"]').on('change', (e) => {
                                                    console.log('change file');
                                                    let that = e.currentTarget
                                                    if (that.files && that.files[0]) {
                                                        $(that).next('.custom-file-label').html(that.files[0].name)
                                                        let reader = new FileReader()
                                                        reader.onload = (e) => {
                                                            $('#preview').attr('src', e.target.result)
                                                        }
                                                        reader.readAsDataURL(that.files[0])
                                                    }
                                                })
                                            });
                                        </script>
                                        <!-- <label for="avatar">Photo</label>
                                            <input accept="image/png, image/jpeg" type="file" name="picture" id="picture" class="custom-file-input" >
                                             -->


                                    </div>
                                    <br>



                                    <div class="d-grid mb-2 mt-5">
                                        <button class="btn btn-primary btn-login fw-bold text-uppercase"
                                            type="submit">Enregistrer</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                         <div class="section-title col-md-11 text-center">
                             <h3 style="z-index: 0;">Les projets que j'ai soutenus</h3>
                        </div>
                          <div class="row">
                                <div>
                                    {# liste #}
                                    <table class="table" data-toggle="table" data-search="true" data-pagination="true"
                                        data-page-size="8" data-page-list="[10, 25, 50, all]">
                                        <thead>
                                            <tr>
                                                <th data-field="picture" data-align="center">Image</th>
                                                <th data-field="name" data-sortable="true">Nom</th>
                                                <th data-field="target" data-sortable="true">Objectif</th>
                                                <th data-field="somme" data-sortable="true">Contribution</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if contribution and contribution is not none %}
                                            {% for participate in contribution %}
                                            {% if participate.idUser == session['idUser'] %}
                                                <tr>
                                                    <td><img src="static/images/projectsPictures/{{participate.picture}}"
                                                            class="picture" height="30px" width="30px" /></td>
                                                    <td>
                                                        <a href="/seeProject/{{participate.idProject}}">{{ participate.name
                                                                }}</a>
                                                    </td>
                                                    <td>{{ participate.target }}</td>
                                                    <td>{{ participate.somme }}</td>
                                                </tr>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
         
                                </div>


                        <div class="col-md-6">
                            <br>
                            <img id="preview" class="w-50 img-fluid">
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div><!-- end title -->
            <!--End Page-->
        </div><!-- end section -->

    {% include("layout/footer.html")%}

</body>

</html>