<!DOCTYPE html>
<html lang="en">
    <head>
        {% include("layout/head.html") %}
    </head>
    <body class="seo_version">


        <!-- END LOADER -->
        {% include("layout/nav.html") %}

        <div style="background-image:url(/static/images/pattern-4.png);">
            <!--Page -->
            <div class="container">
                <div class="section-title text-center">
                    <h3>Votre solde</h3>
                </div>
            </div>

            <div class="container">
                <div class="section-title text-center">
                    <h3>Votre impact à ce jour</h3>
                </div>
            </div>

            <div class="container">
                <div class="section-title text-center">
                    <h3>Recharger votre porte monaie</h3>
                    <div class="col-md-6">
                        <div class="contact_form">
                            <div id="message"></div>
                            <div method="post" action="/update_mdp">
                                <h4 class="card-title text-center mb-2 fw-light">Acheter des kiwis</h4>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="old_mdp">Choisir le mode de payement----</label>
                                <select name="pets" id="pet-select">
                                    <option value="">VISA</option>
                                    <option value="">CB</option>
                                    <option value="">MASTERCARD</option>
                                </select>
                                <div class="form-floating mb-3">
                                    <label for="new_mdp">Numéro de carte</label>
                                  <input type="text" class="form-control" id="new_mdp" name="new_mdp" placeholder="Numero de carte" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="new_mdp">date d'expiration</label>
                                  <input type="text" class="form-control" id="new_mdp" name="new_mdp" placeholder="date d'expiration" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="new_mdp">cryptogramme de sécurité</label>
                                  <input type="text" class="form-control" id="new_mdp" name="new_mdp" placeholder="cryptogramme à 3 chiffres" required>
                                </div>
                          </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="contact_form">
                            <div id="message"></div>
                            <form method="post" action="/update_mdp">
                                <h4 class="card-title text-center mb-2 fw-light">Obtenir des kiwis gratuits</h4>
                            </div>
                            <div class="form-floating mb-3">
                                <label for="new_mdp">En soutenant nos partenaires : annonce publicitaire (lien yt ?)</label>
                                <a href="https://blog.hubspot.fr/website/a-href-lien-html#:~:text=Pour%20faire%20un%20lien%20HTML%20sur%20une%20image%2C%20il%20faut,%22%20%3E%20" , target="_blank" >Soutenir nos sponsors</a>
                              </div>
                           <div class="form-floating mb-3">
                                <label for="new_mdp">à l'aide d'un coupon cadeau Kiwi</label>
                              <input type="text" class="form-control" id="new_mdp" name="new_mdp" placeholder="Numero de coupon" required>
                            </div>
                        </div>
                    </div>
            </div>

            <HR ALIGN=CENTER WIDTH="700" SIZE="10" noshade>

            <div id="support" class="section wb">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>Mot de passe</h3>
                        {% include("layout/info.html") %} 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="contact_form">
                                    <div id="message"></div>
                                    <form method="post" action="/update_mdp">
                                        <h4 class="card-title text-center mb-2 fw-light">Changer de mot de passe</h4>
                          
                                        <div class="form-floating mb-3">
                                            <label for="old_mdp">Ancien mot de passe</label>
                                          <input style="border-color: black;" type="text" class="form-control" id="old_mdp" name="old_mdp" placeholder="Ancien mot de passe" required autofocus>
                                        </div>
                          
                                        <div class="form-floating mb-3">
                                            <label for="new_mdp">Nouveau mot de passe</label>
                                          <input style="border-color: black;" type="text" class="form-control" id="new_mdp" name="new_mdp" placeholder="Nouveau mot de passe" required>
                                        </div>
                          
                                        <div class="form-floating mb-3">
                                            <label for="confirm_mdp">Confirmer votre mot de passe</label>
                                          <input style="border-color: black;" type="text" class="form-control" id="confirm_mdp" name="confirm_mdp" placeholder="Votre mot de passe" required>
                                        </div>

                                        <br>
                        
                          
                          
                                        <div class="d-grid mb-2 mt-5">
                                          <button class="btn btn-primary btn-login fw-bold text-uppercase" type="submit">Enregistrer</button>
                                        </div>
                          
                                      </form>
                                </div>
                            </div><!-- end col -->
                            <!-- <div class="col-md-6">
                                <div class="map-box">
                                    <div id="custom-places" class="small-map"></div>
                                </div>
                            </div>end col -->
                        </div><!-- end row -->
                    </div>
                </div><!-- end title -->
                <!--End Page-->
            </div><!-- end section -->

    {% include("layout/footer.html")%}


    </body>
</html>