<!DOCTYPE html>
<html lang="en">
<head>
    {% include("layout/head.html") %}

  <title>Project Details</title>
  <style>

    .project-container {
      max-width: 600px;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 8px;
    }

    .project-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .project-description {
      font-size: 18px;
      line-height: 1.5;
    }
  </style>
  {% include("layout/nav.html") %}
</head>
<body>
    <p id="output"></p>


    
    
    <script>
        // Get the project ID from the URL query parameter
        var urlParams = new URLSearchParams(window.location.search);
        var projectId = urlParams.get('id');        
        var outputElement = document.getElementById("output");
        outputElement.textContent = projectId;
    </script>

    <div class="project-container">
      <p>{{id_projet}}</p>
    {% if liste and liste is not none %}
        {% for project in liste %}
            {% if project.idProject == ALED %}
                <p>{{project.idProject}} AAAALEEEEEEEEDDDDDDDDDD</p>
            {% endif %}
        {% endfor %}
    {% endif %}
        <p class="project-description">Project Description goes here...</p>
  </div>
</body>
</html>


