<!DOCTYPE html>
<html lang="en">
    <head>
        {% include("layout/head.html") %}
    </head>
<body class="seo_version">


	<!-- END LOADER -->
    {% include("layout/nav.html") %}
    
    
    <div class="all-page-title" style="background-image:url(static/images/pattern-4.png);">
        <div class="container text-center">
            <h1>Projets de la communauté</h1>
        </div>
		<!--Page -->

        <!--End Page-->
    </div><!-- end section -->
    <div class="all-page-title" style="background-image:url(static/images/pattern-4.png);">
        <!--Page -->

        <section id="connecter" class="contact">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Entrez au coeur des idées et des ambitions du monde entier</h3>
                    {% include("layout/info.html") %}

                    <div class="row">
                        <div class="col-8">
                            {# liste #}
                            <br>
                            
                                <br>

                                <div>
                                    {% if liste and liste is not none %}
                                    {% for project in liste %}
                                    <div>
                                        <div>
                                            <img src="/static/images/avatar/{{ project.picture }}" class="avatar"
                                                height="30px" width="30px" />
                                        </div>
                                        <div data-pk='{{project}}'> 
                                            {{project.name}}
                                        </div>

                                        <div>{{ project.description }}
                                        <div> {{ project.target }}</div>
                                        <div>{{ project.isOpen }}</div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            

                        </div>

                    </div>

                </div>
            </div><!-- end col -->
    </div><!-- end row -->
    </div>
    </div><!-- end title -->
    <!--End Page-->
    </div><!-- end section -->
    <br>

    <div id="support" class="section db">
        <div class="container">
            <div class="row">
                <div id="logo-carousel" class="owl-carousel">
    
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    {% include("layout/footer.html")%}
	
    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">FlaxSEO</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>

                <div class="footer-right">
                    <form method="get" action="#">
                        <input placeholder="Subscribe our newsletter.." name="search">
                        <i class="fa fa-envelope-o"></i>
                    </form>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="static/js/custom.js"></script>

</body>
</html>