<!DOCTYPE html>
<html lang="en">

<head>
    {% include("layout/head.html") %}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" />
</head>

<body class="seo_version">


    <!-- END LOADER -->
    {% include("layout/nav.html") %}

    <div style="background-image:url(/static/images/pattern-4.png);">
        <!--Page -->

        <section  id="connecter" class="contact  ">
            <div class="container">
                <div  class="section-title text-center">
                    <h3 style="margin-top:50px; color:black;">Base de données</h3>
                    {% include("layout/info.html") %}

                    <div class="row">
                        <div class="col-8">
                            {# liste #}

                            <!-- <a href="/exportToExcel" class="btn btn-success">Exporter les données</a> -->
                            <br>
                            <table class="table" style="color:black">
                                <br>
                                <thead data-align="center">

                                    <tr>

                                        <td textalign="center"><b>
                                                <font size="4pt">Supp</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Avatar</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Nom</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Prénom</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Mail</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Login</font>
                                            </b></td>
                                        <td textalign="center"><b>
                                                <font size="4pt">Administrateur</font>
                                            </b></td>
                                    </tr>

                                </thead>
                                <tbody>
                                    {% if liste and liste is not none %}
                                    {% for user in liste %}
                                    <tr>
                                        <td>
                                            <a href="/suppMembre/{{user.idUser}}">
                                                <img src='/static/images/prettyPhoto/trashcan.png' height="30px"
                                                    width="30px">
                                            </a>
                                        </td>
                                        <td><img src="/static/images/avatar/{{ user.avatar }}" class="avatar"
                                                height="30px" width="30px" /></td>
                                        <td class='modif' data-url='/updateMembre/N' data-pk='{{user.idUser}}'> {{
                                            user.nom
                                            }}
                                        </td>
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.mail }}</td>
                                        <td>{{ user.login }}</td>
                                        <td class='modifSelect' data-url='/updateMembre/S' data-pk='{{user.idUser}}'>
                                            {% if user.isAdmin %}
                                            Administrateur
                                            {% else %}
                                            Visiteur
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div><!-- end col -->
    </div><!-- end row -->
    </div>
    </div><!-- end title -->
    <!--End Page-->
    </div><!-- end section -->
    <section style="align-items: center;"   >
        <a href="/generate">
            <p style="text-align: center; font-size:30px;"> Génération d'utilisateurs <br>  please DON'T SPAM  </p>
        </a>
    </section>

    {% include("layout/footer.html")%}


    <script>
        const $ = jQuery.noConflict();
        jQuery(function () {
            $.fn.editable.defaults.mode = 'inline'
            $(".modif").editable()
            $(".modifSelect").editable({
                type: 'select',
                source: [
                    { value: 1, text: 'Administrateur' },
                    { value: 0, text: 'Visiteur' }
                ]
            })
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

</body>

</html>