<!DOCTYPE html>
<html lang="en">

<head>
    {% include("layout/head.html") %}
</head>

<body class="seo_version">

    <!-- LOADER -->
    {% include('layout/loader.html') %}
    <!-- END LOADER -->
    {% include("layout/nav.html") %}

    <div class="all-page-title" style="background-image:url(static/images/pattern-4.png);">
        <!--Page -->

        <section id="connecter" class="contact">
            <div class="container">

                {% include("layout/info.html") %}

                <div class="row">
                    <div class="col-8">
                        {# liste #}

                        <a href="/exportToExcel" class="btn btn-success">Exporter les données</a>
                        <table class="table" data-toggle="table" data-search="true" data-pagination="true"
                            data-page-size="8" data-page-list="[10, 25, 50, all]">
                            <thead>
                                <tr>
                                    <th data-field="supp" data-align="center">Supp</th>
                                    <!-- <th data-field="avatar" data-sortable="true">Avatar</th> -->
                                    <th data-field="nom" data-sortable="true">Nom</th>
                                    <th data-field="prenom" data-sortable="true">Prénom</th>
                                    <th data-field="mail" data-sortable="true">Mail</th>
                                    <th data-field="login" data-sortable="true">Login</th>
                                    <th data-field="isAdmin" data-sortable="true">Administrateur</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if liste and liste is not none %}
                                {% for user in liste %}
                                <tr>
                                    <td>
                                        <a href="/suppMembre?userDel={{user.idUser}}">
                                            <img src='static/images/prettyPhoto/trashcan.png' height="30px" width="30px">
                                        </a>
                                    </td>
                                    <!-- <td><img src="/static/img/avatar/{{ user.avatar }}" class="avatar" /></td> -->
                                    <td class='modif' data-url='/updateMembre/N' data-pk='{{user.idUser}}'> {{ user.nom
                                        }}
                                    </td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.mail }}</td>
                                    <td>{{ user.login }}</td>
                                    <td class='modifSelect' data-url='/updateMembre/S' data-pk='{{user.idUser}}'>
                                        {% if user.isAdmin %}
                                        Administrateur
                                        {% else %}
                                        Non administrateur
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
    </div><!-- end col -->
    </div><!-- end row -->
    </div>
    </div><!-- end title -->
    <!--End Page-->
    </div><!-- end section -->
    <br>

    <div id="support" class="section db">
        <div class="container">
            <div class="section-title text-center">
                <h3>Clients Logo</h3>
            </div><!-- end title -->

            <div class="row">
                <div id="logo-carousel" class="owl-carousel">
                    <div> <img src="static/uploads/logo_01.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_02.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_03.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_04.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_05.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_06.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_01.png" alt="">
                    </div>
                    <div> <img src="static/uploads/logo_02.png" alt="">
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



    {% include("layout/footer.html")%}

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved.
                        &copy; 2018 <a href="#">FlaxSEO</a> Design By :
                        <a href="https://html.design/">html design</a>
                    </p>
                </div>


            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa
                    fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="static/js/all.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKjLTXdq6Db3Xit_pW_GK4EXuPRtnod4o"></script>
    <!-- Mapsed JavaScript -->
    <script src="static/js/mapsed.js"></script>
    <script src="static/js/01-custom-places-example.js"></script>
    <!-- ALL PLUGINS -->
    <script src="static/js/custom.js"></script>

</body>

</html>