<!DOCTYPE html>
<html lang="en">

{% include("layout/head.html") %}
<style>
    #webmaster-img {
      float: left;
      margin-right: 10px;
    }

    .clear {
        clear: both;
    }
    #wbm-h {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    #wbm-p{
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

  </style>
<body class="seo_version">
    
    {% include("layout/nav.html") %}

    <div class="container">
        <div class="section-title text-center">
            <small> Écrit un truc ?</small>
            <h1>Web Masters</h1>
            <p class="lead">Les artistes qui ont fait ce site web génial</p>
        </div><!-- end title -->

        <section>
            <div id="webmaster" class="section wb">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="static/images/webmaster/mathias.jpg" width="300px" height="500" alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">HUYGHE Mathias </h>
                                <p id="wbm-p">Infos 3a avant l'enac <br> mais on remplira plus tard </p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
            </div>
        </section>
        
        <br>

        <section>
            <div id="webmaster" class="section wb">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="static/images/webmaster/marie.jpg" width="300px" height="500" alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">LE CARPENTIER Marie</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>
        
        <br>
        <section>
            <div id="webmaster" class="section wb">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="static/images/webmaster/paul.jpg" width="300px" height="500" alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">RUMMENS Paul</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>
    
        <br>

        <section>
            <div id="webmaster" class="section wb">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="static/images/webmaster/hugo.jpg" width="300px" height="500" alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">VITRY Hugo</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>
        
        <br>
        
    </div>

</body>
            
{% include("layout/footer.html")%}