<!DOCTYPE html>
<html lang="en">

{% include("layout/head.html") %}
<style>

    .clear {
        clear: both;
    }
    #webmaster{
        margin-bottom: 20px;
    }
    #webmaster-img {
      float: left;
      margin-right: 10px;
      height: 200px;
      width: 200px;
    }

    #wbm-h {
        color: black;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    #wbm-p{
        color: black;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

  </style>
<body class="seo_version">
    
    {% include("layout/nav.html") %}

    <div class="container">
        <div class="section-title text-center">
            <h1 style="margin-top: 20px;">À propos de nous</h1>
            <p class="lead">Les artistes qui ont fait ce site web génial</p>
        </div><!-- end title -->

        <section>
            <div id="webmaster" >
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="/static/images/webmaster/mathias.jpg" alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">HUYGHE Mathias </h>
                                <p id="wbm-p">Infos 3a avant l'enac <br> mais on remplira plus tard </p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
            </div>
        </section>
        
        <section>
            <div id="webmaster">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="/static/images/webmaster/marie.jpg"alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">LE CARPENTIER Marie</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>

        <section>
            <div id="webmaster">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="/static/images/webmaster/paul.jpg"alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">RUMMENS Paul</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>
    
        <section>
            <div id="webmaster">
                <div>
                    <div>
                        <div class="post-media wow fadeIn">
                                <img id="webmaster-img" src="/static/images/webmaster/hugo.jpg"alt="" class="img-responsive img-rounded">
                                <h id="wbm-h">VITRY Hugo</h>
                                <p id ="wbm-p">Infos 3a avant l'enac</p>
                                <div class="clear"></div>
                        </div>
                    </div>
                </div>                
             </div>
        </section>
    </div>
    
    {% include("layout/footer.html")%}

</body>
</html>