<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <img src="images/logos/logo-light.png" alt="">
                        <small>FlaxSEO Template</small>
                    </div>
                    <p> SEO Mauris pharetra quam ut commodo malesuada. Sed a
                        ornare
                        purus, nec cursus tortor. Integer vehicula felis nec
                        nunc
                        pulvinar efficitur. In et semper odio. Sed laoreet
                        ullamcorper augue, ut mattis metus mattis quis.</p>
                    <p>Sed fermentum est vitae rhoncus molestie. Cum sociis
                        natoque
                        penatibus et magnis dis montes.</p>
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">info@yoursite.com</a></li>
                        <li><a href="#">www.yoursite.com</a></li>
                        <li>PO Box 16122 Collins Street West Victoria 8007
                            Australia</li>
                        <li>+61 3 8376 6284</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <ul class="footer-links social-md">
                        <li><a class="fb" href="#"><i class="fa fa-facebook"></i>
                                Facebook</a></li>
                        <li><a class="gi" href="#"><i class="fa fa-github"></i>
                                Github</a></li>
                        <li><a class="tw" href="#"><i class="fa fa-twitter"></i>
                                Twitter</a></li>
                        <li><a class="dr" href="#"><i class="fa fa-dribbble"></i>
                                Dribbble</a></li>
                        <li><a class="pi" href="#"><i class="fa fa-pinterest"></i>
                                Pinterest</a></li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer>
