<header>
    <nav class="megamenu navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img
                        src="static/images/logos/logo-seo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav navbar-right menu-top">
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/about">About Us </a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/case-study">Case Study</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/webmaster">Web Master</a></li>
                    {% if not session['idUser'] %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signin">Sign In</a></li>
                    {% else %}
                    <li><a href="/logout">logout</a></li>
                    <li><a href="/profil">Profil</a></li>
                    <!-- <img class="rounded-circle mr-3" src="/static/img/avatar/{{ session['avatar'] }}" alt="User Avatar"> -->
                    <h5 class=" pt-2"> {{ session['prenom'] }} {{ session['nom'] }}</h5>
                  {% endif %}
                </ul>
            </div>
            <div class="logo d-flex">
                
              </div>
        </div>
    </nav>
</header>